/* LoginPage.css */

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: white;
}

.login-container {
  display: flex;
  max-width: 900px;
  width: 100%;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.login-left {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left-content {
  text-align: center;
}

.company-logo {
  height: 50px;
  margin-bottom: 20px;
}

.login-left-content h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.login-left-content p {
  font-size: 16px;
  color: #333;
}

h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #333;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.terms-container {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #777;
}

.login-right {
  background: url("./assets/images/digital.png") no-repeat center center;
  background-size: cover;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated-element {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.company-logo {
  animation-delay: 0.5s;
}

.login-left-content h1 {
  animation-delay: 1s;
}

.login-left-content p {
  animation-delay: 1.5s;
}

h2 {
  animation-delay: 2s;
}

form {
  animation-delay: 2.5s;
}

.terms-container {
  animation-delay: 3s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
