/* toast.css */
.toast-container {
  text-align: center;
}

.toast-message {
  display: inline-flex;
  align-items: center;
  color: red;
  font-size: 16px;
}

.toast-message1 {
  display: inline-flex;
  align-items: center;
  color: green;
  font-size: 16px;
}

.toast-icon {
  margin-right: 8px;
  color: red;
}

.toast-body {
  display: inline;
  padding: 0;
}
